.footer{
    margin: 0;
    padding: 0;
    font-family: 'segoe ui light';
}
.footer{
    margin: 0;
    padding: 0;
    font-family: 'segoe ui light';
    background-color: black;
    color: white;
}
.list-unstyled{
    text-align: end;
    padding-right: 30px;
}
.list-inline-item{
    display: inline;
    padding: 10px;
    
}
.h{
    text-align: end;
    padding-right: 30px;
    padding-bottom: 20px;

}
.get{
    padding-left: 30px;
    padding-top: 20px;
}
.email{
    padding-left: 30px;
}
.button{
    text-align:center;
    border-style: ridge;
    background-color: black;
    color: white;
    width: 120px;
    justify-content: center;
    display: flex;
    margin-left: 500px;
    align-items: center;
    height: 40px;
}