
.si {
    margin: 10px; 
    padding-left: 30px;
    display: inline-flex;
 font-size: 20px;
 text-align: center;


}

.port{
    text-align: center;
    font-weight: bold;
}
.card{
    background-color: rgb(206, 203, 203);
    height: 150px;
    width: 200px;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    
}

.p{
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}